.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;

    &__side {
        background-color: #fff;
        color: white;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: $shadow-main;

        &--front {
            background-color: $color-white;
        }
    
        &--back {
            background-color: green;
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
            }

            &--2 {
                background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
            }

            &--3 {
                background-image: linear-gradient(to bottom right, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }

    &:hover &__side--front{ //.card:hover -> card__side will transform
        transform: rotateY(-180deg);
    }

    &:hover &__side--back{ //.card:hover -> card__side will transform
        transform: rotateY(0);
    }

}
